{
    "cookie": {
        "domain": "localhost",
        "httpOnly": false,
        "maxAge": 1440000,
        "path": "/",
        "sameSite": false,
        "secure": false
    },
    "genid": "<session ID generator function>",
    "resave": true,
    "rolling": false,
    "saveUninitialized": true,
    "secret": "<secret(s)>",
    "unset": "keep"
}